<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbBiP4jj4EEvLCKpf4E6EvjQy_T4OOCYc</string>
	<key>GCM_SENDER_ID</key>
	<string>1040281476556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.photoapp</string>
	<key>PROJECT_ID</key>
	<string>photoapp-993ea</string>
	<key>STORAGE_BUCKET</key>
	<string>photoapp-993ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040281476556:ios:7ec13cdd8c4789cacd1169</string>
</dict>
</plist>